<!DOCTYPE html>
<html>
<head>
    <title>Elenco do Bahia</title>
</head>

<body>

<h1>Elenco do Bahia</h1>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

<div class="elenco">

<div class="jogador">
<img src="{{ url_for('static', filename='ronaldo.png') }}">
<h3>Ronaldo</h3>
<p>Goleiro</p>
<p><strong>1</strong></p>
</div>

<div class="jogador">
<img src="{{ url_for('static', filename='joaopaulo.png') }}">
<h3>João Paulo</h3>
<p>Goleiro</p>
<p><strong>34</strong></p>
</div>

<div class="jogador">
<img src="{{ url_for('static', filename='gilberto.png') }}">
<h3>Gilberto</h3>
<p>Lateral</p>
<p><strong>2</strong></p>
</div>

<div class="jogador">
<img src="{{ url_for('static', filename='Roman.png') }}">
<h3>Roman Gomez</h3>
<p>Lateral</p>
<p><strong>31</strong></p>
</div>

<div class="jogador">
<img src="{{ url_for('static', filename='iago.png') }}">
<h3>iago Borduch</h3>
<p>Lateral</p>
<p><strong>25</strong></p>
</div>

<div class="jogador">
<img src="{{ url_for('static', filename='ze.png') }}">
<h3>Zé Guilherme</h3>
<p>Lateral</p>
<p><strong>66</strong></p>
</div>

<div class="jogador">
<img src="{{ url_for('static', filename='juba.png') }}">
<h3>Luciano Juba</h3>
<p>Lateral</p>
<p><strong>46</strong></p>
</div>

<!-- <div class="jogador">
<img src="{{ url_for('static', filename='messi.jpg') }}">
<h3>Messi</h3>
<p>3° Goleiro</p>
<p><strong>88</strong></p>
</div> -->

<div class="jogador">
<img src="{{ url_for('static', filename='david.png') }}">
<h3>David Duarte</h3>
<p>Zagueiro</p>
<p><strong>33</strong></p>
</div>

<div class="jogador">
<img src="{{ url_for('static', filename='marcos.png') }}">
<h3>Marcos Victor</h3>
<p>Zagueiro</p>
<p><strong>44</strong></p>
</div>

<div class="jogador">
<img src="{{ url_for('static', filename='Ramos.png') }}">
<h3>Ramos Mingo</h3>
<p>Zagueiro</p>
<p><strong>21</strong></p>
</div>

<div class="jogador">
<img src="{{ url_for('static', filename='luiz_gustavo_site.png') }}">
<h3>Luiz Gustavo</h3>
<p>Zagueiro</p>
<p><strong>43</strong></p>
</div>

<div class="jogador">
<img src="{{ url_for('static', filename='gabrielxavier.png') }}">
<h3>Gabriel Xavier</h3>
<p>Zagueiro</p>
<p><strong>3</strong></p>
</div>

<div class="jogador">
<img src="{{ url_for('static', filename='kanu.png') }}">
<h3>kanu</h3>
<p>Zagueiro</p>
<p><strong>4</strong></p>
</div>

<div class="jogador">
<img src="{{ url_for('static', filename='Everton.png') }}">
<h3>Everton Ribeiro</h3>
<p>Meio-campista</p>
<p><strong>10</strong></p>
</div>

<div class="jogador">
<img src="{{ url_for('static', filename='acevedo_site-1-587x1024.png') }}">
<h3>Nicolás Acevedo</h3>
<p>Meio-campista</p>
<p><strong>5</strong></p>
</div>

<div class="jogador">
<img src="{{ url_for('static', filename='erick.png') }}">
<h3>Erick</h3>
<p>Meio-campista</p>
<p><strong>14</strong></p>
</div>

<div class="jogador">
<img src="{{ url_for('static', filename='Rodrigo.png') }}">
<h3>Rodrigo Nestor</h3>
<p>Meio-campista</p>
<p><strong>11</strong></p>
</div>

<div class="jogador">
<img src="{{ url_for('static', filename='michel.png') }}">
<h3>Michel Araujo</h3>
<p>Meio-campista</p>
<p><strong>15</strong></p>
</div>

<div class="jogador">
<img src="{{ url_for('static', filename='caio.png') }}">
<h3>Caio Alexandre</h3>
<p>Meio-campista</p>
<p><strong>8</strong></p>
</div>

<div class="jogador">
<img src="{{ url_for('static', filename='Jean.png') }}">
<h3>Jean Lucas</h3>
<p>Meio-campista</p>
<p><strong>6</strong></p>
</div>

<div class="jogador">
<img src="{{ url_for('static', filename='ademir.png') }}">
<h3>Ademir</h3>
<p>Atacante</p>
<p><strong>7</strong></p>
</div>

<div class="jogador">
<img src="{{ url_for('static', filename='ErickPulga.png') }}">
<h3>Erick Pulga</h3>
<p>Atacante</p>
<p><strong>16</strong></p>
</div>

<div class="jogador">
<img src="{{ url_for('static', filename='sanabria.png') }}">
<h3>Sanabria</h3>
<p>Atacante</p>
<p><strong>23</strong></p>
</div>

<div class="jogador">
<img src="{{ url_for('static', filename='kike.png') }}">
<h3>Kike Oliveira</h3>
<p>Atacante</p>
<p><strong>99</strong></p>
</div>

<div class="jogador">
<img src="{{ url_for('static', filename='Everaldo.png') }}">
<h3>Everaldo</h3>
<p>Atacante</p>
<p><strong>27</strong></p>
</div>

<div class="jogador">
<img src="{{ url_for('static', filename='Willian.png') }}">
<h3>Willian José</h3>
<p>Atacante</p>
<p><strong>12</strong></p>
</div>

</div>

<a href="/" class="botao-voltar">Voltar para página inicial</a>

</div>

</body>
</html>