<!DOCTYPE html>
<html>
 <meta charset="utf-8">
    <title>História - Bahia</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="historia-bloco">
    <div class="texto">
        <h1>História do Bahia</h1>
        <p>
             O <strong>Esporte Clube Bahia</strong> foi fundado em <strong>1º de janeiro de 1931</strong>, 
             na cidade de <strong>Salvador, Bahia</strong>. O clube surgiu da união de ex-jogadores e 
             dirigentes de equipes tradicionais da cidade, com o objetivo de criar um time forte 
             que representasse o estado no futebol brasileiro.
            </p>
        </div>
        <img src="{{ url_for('static', filename='bahiaantigo.png') }}" class="imagem-historia">

</div>

<div class="historia-bloco">
    <div class="texto">
        <h2>Primeiro Título Nacional</h2>
        <p> O grande reconhecimento nacional veio em <strong>1959</strong>, quando o Bahia conquistou 
            o <strong>primeiro Campeonato Brasileiro da história</strong>, derrotando o Santos na final.
            Esse título colocou o clube entre os grandes do futebol brasileiro.
        </p>
    </div>
    <img src="{{ url_for('static', filename='1959.png') }}" class="imagem-historia">
</div>

<div class="historia-bloco">
    <div class="texto">
        <h2>Bicampeonato Brasileiro</h2>
        <p> Outro momento histórico aconteceu em <strong>1988</strong>, quando o Bahia conquistou 
            novamente o <strong>Campeonato Brasileiro</strong>, desta vez vencendo o Internacional
            na final. Essa conquista consolidou ainda mais a importância do clube no cenário nacional.
        </p>
    </div>
    <img src="{{ url_for('static', filename='1988.png') }}" class="imagem-historia">
</div>

<div class="historia-bloco">
    <div class="texto">
        <h2>Bahia Atualmente</h2>
        <p> Atualmente, o Bahia manda seus jogos na <strong>Arena Fonte Nova</strong>, em Salvador, 
            e possui uma das maiores torcidas do Nordeste, conhecida como 
            <strong>Nação Tricolor</strong>. O clube vive uma nova fase de crescimento, com 
            investimentos e modernização em sua gestão, através do <strong>City Football Group</strong>,
            que adquiriu o clube em 2023, prometendo levar o Bahia a novos patamares no futebol brasileiro e internacional.
        </p>
    </div>
    <img src="{{ url_for('static', filename='bahiaatual.png') }}" class="imagem-historia">
</div>

<a href="/" class="botao-voltar">Voltar para página inicial</a>

</body>
</html>