<!DOCTYPE html>
<html>

<head>
<title>Esporte Clube Bahia</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">

</head>

<body>

<div class="header">

<img src="{{ url_for('static', filename='bahiasite.webp') }}" class="logo">

<h1>Esporte Clube Bahia</h1>

</div>


<div class="menu">

<a href="/">Home</a>
<a href="/historia">História</a>
<a href="/titulos">Títulos</a>
<a href="/elenco">Elenco</a>

</div>


<img src="{{ url_for('static', filename='Fontenova.png') }}" class="estadio">


<p>Bem-vindo ao site do Bahia!</p>

</body>
</html>